<a href="https://colab.research.google.com/github/Sithija97/Python-Projects/blob/main/dinithi_m_c_m1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
from google.colab import files

uploaded = files.upload()

Saving fyp csv - Sheet1.csv to fyp csv - Sheet1.csv

In [3]:
# reading the csv file
df = pd.read_csv("fyp csv - Sheet1.csv",index_col=False)
df.head()
df.shape

(28, 38)

In [7]:
# average numbers for all columns
df.groupby('shot name').mean()

           fv.st.hp  fv.bl.hp  fv.im.hp  ...  sv.ft.bf.ka  sv.ft.hip.a  accuracy
shot name                                ...
1               1.0       1.0       1.0  ...   176.703864   154.729480      0.40
2               1.0       1.0       1.0  ...   184.981035   181.590911      0.00
3               1.0       1.0       1.0  ...   181.097954   185.271230      0.50
4               1.0       1.0       1.0  ...   180.749355   154.748623      0.25

[4 rows x 37 columns]

In [8]:
# determining inputs and target
inputs = df.drop(columns = ['shot name','accuracy'])
target = df[['shot name']]

In [9]:
# split the dataset into train and test subsets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,train_size=0.9)

In [19]:
X_test

    fv.st.hp  fv.bl.hp  fv.im.hp  ...  sv.ft.ff.ka  sv.ft.bf.ka  sv.ft.hip.a
27         1         1         1  ...   175.681731   181.525934   176.681731
10         1         1         1  ...   122.924813   182.380773   186.083847
15         1         1         1  ...   171.747277   180.703307   194.194061

[3 rows x 36 columns]

In [12]:
# import the model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [15]:
# training the model
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [16]:
# predicting the outputs
model.predict(X_test)

array([3, 1, 3])

In [17]:
# accuracy of the model
model.score(X_test,y_test)

0.6666666666666666