<a href="https://colab.research.google.com/github/Sithija97/Python-Projects/blob/main/dinithi_m_c_m1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
from google.colab import files

uploaded = files.upload()

Saving fyp csv - Sheet1.csv to fyp csv - Sheet1.csv

In [3]:
# reading the csv file
df = pd.read_csv("fyp csv - Sheet1.csv",index_col=False)
df.head()
df.shape

(28, 38)

In [4]:
# average numbers for all columns
df.groupby('shot name').mean()

,fv.st.hp,fv.bl.hp,fv.im.hp,fv.ft.hp,sv.st.hp,st.stage,sv.st.ba,sv.st.tha,sv.st.bha,sv.st.ff.ka,...,sv.im.hip.a,sv.ft.hp,ft.stage,sv.ft.ba,sv.ft.tha,sv.ft.bha,sv.ft.ff.ka,sv.ft.bf.ka,sv.ft.hip.a,accuracy
shot name,,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,1.0,13.568361,173.945171,149.798218,166.270325,...,183.807792,1.0,4.0,72.964792,152.517781,102.473504,120.268545,176.703864,154.729480,0.40
2,1.0,1.0,1.0,1.0,1.0,1.0,13.821194,172.031598,178.227168,163.813286,...,186.628026,1.0,4.0,152.299409,263.530564,104.027403,121.270498,184.981035,181.590911,0.00
3,1.0,1.0,1.0,1.0,1.0,1.0,13.257182,173.243768,159.443929,162.472689,...,194.953858,1.0,4.0,82.790436,249.557541,133.368347,174.047838,181.097954,185.271230,0.50
4,1.0,1.0,1.0,1.0,1.0,1.0,10.121213,174.969156,154.574803,170.387404,...,187.820048,1.0,4.0,138.689995,161.182537,170.036419,142.583668,180.749355,154.748623,0.25

In [5]:
# determining inputs and target
inputs = df.drop(columns = ['shot name','accuracy'])
target = df[['shot name']]

In [6]:
# selecting the rows from the inputs csv
type(inputs)
selected_shots =inputs.loc[ [2 , 4] , : ]

In [7]:
# split the dataset into train and test subsets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,train_size=0.9)

In [8]:
X_test

,fv.st.hp,fv.bl.hp,fv.im.hp,fv.ft.hp,sv.st.hp,st.stage,sv.st.ba,sv.st.tha,sv.st.bha,sv.st.ff.ka,...,sv.im.bf.ka,sv.im.hip.a,sv.ft.hp,ft.stage,sv.ft.ba,sv.ft.tha,sv.ft.bha,sv.ft.ff.ka,sv.ft.bf.ka,sv.ft.hip.a
6,1,1,1,1,1,1,9.780614,173.636645,152.829964,169.160517,...,188.290330,183.300467,1,4,125.935925,282.641522,86.222917,116.615305,185.945482,141.474844
26,1,1,1,1,1,1,14.836549,171.598731,157.854648,161.443962,...,182.948723,193.809156,1,4,160.643908,237.597082,158.341995,176.681731,181.525934,176.681731
23,1,1,1,1,1,1,5.038261,182.503069,153.769433,171.067561,...,184.363820,183.841821,1,4,145.153513,188.135274,103.776401,132.797220,191.094542,145.800233

In [9]:
y_test

    shot name
6           1
26          3
23          4

In [11]:
# selecting a particular row
# rowData = y_test.loc[ 2 , : ]
# rowData

**using logistic regression model**

In [12]:
# import the model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(multi_class='ovr')

In [13]:
# training the model
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(multi_class='ovr')

In [14]:
# predicting the outputs
model.predict(X_test)

array([2, 3, 2])

In [15]:
# accuracy of the model
model.score(X_test,y_test)

0.3333333333333333

**using svm model**

In [16]:
# import the model
from sklearn.svm import SVC
model = SVC()

In [17]:
# training the model
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [18]:
# predicting the outputs
model.predict(X_test)

array([1, 1, 1])

In [19]:
# accuracy of the model
model.score(X_test,y_test)

0.3333333333333333

**using random forest classifier model**

In [20]:
# importing random forest classifier from assemble module
from sklearn.ensemble import RandomForestClassifier

# creating a RF classifier
clf = RandomForestClassifier(n_estimators = 100)

In [21]:
# training the model
clf.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier()

In [22]:
# predicting the outputs
clf.predict(X_test)

array([1, 3, 4])

In [23]:
# accuracy of the model
clf.score(X_test,y_test)

1.0