<a href="https://colab.research.google.com/github/Sithija97/Python-Projects/blob/main/logistic_regression_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# logistic_regression_model

a model we try to experiment the cricket shot classification with shot errors

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
from google.colab import files

uploaded = files.upload()

Saving shots.csv to shots.csv

In [3]:
# reading the csv file
df = pd.read_csv("shots.csv",index_col=False)
df.head()

   fv.st.hp  fv.bl.hp  fv.im.hp  ...  sv.ft.hip.a  shot_name  accuracy
0         1         1         1  ...   142.480118          1         0
1         1         1         1  ...   182.141860          1         1
2         1         1         1  ...   145.953509          1         0
3         1         1         1  ...   140.333797          1         0
4         1         1         1  ...   140.333797          1         0

[5 rows x 34 columns]

In [ ]:
# data exploration and visualization - can be used to seperate left/right handed || technically correct/wrong shots
# left = df[df.accuracy==1]
# left.shape
# left.head()

In [4]:
# average numbers for all columns
df.groupby('accuracy').mean()

          fv.st.hp  fv.bl.hp  fv.im.hp  ...  sv.ft.bf.ka  sv.ft.hip.a  shot_name
accuracy                                ...
0              1.0       1.0       1.0  ...   182.480130   153.549286   1.230769
1              1.0       1.0       1.0  ...   178.736966   169.363733   1.418605

[2 rows x 33 columns]

In [5]:
print(df.dtypes)

fv.st.hp         int64
fv.bl.hp         int64
fv.im.hp         int64
fv.ft.hp         int64
sv.st.hp         int64
sv.st.ba       float64
sv.st.tha      float64
sv.st.bha      float64
sv.st.ff.ka    float64
sv.st.bf.ka    float64
sv.st.hip.a    float64
sv.bl.hp         int64
sv.bl.ba       float64
sv.bl.tha      float64
sv.bl.bha      float64
sv.bl.ff.ka    float64
sv.bl.bf.ka    float64
sv.bl.hip.a    float64
sv.im.hp         int64
sv.im.ba       float64
sv.im.tha      float64
sv.im.bha      float64
sv.im.ff.ka    float64
sv.im.bf.ka    float64
sv.im.hip.a    float64
sv.ft.hp         int64
sv.ft.ba       float64
sv.ft.tha      float64
sv.ft.bha      float64
sv.ft.ff.ka    float64
sv.ft.bf.ka    float64
sv.ft.hip.a    float64
shot_name        int64
accuracy         int64
dtype: object

In [6]:
# determining inputs and target
inputs = df.drop(columns = ['shot_name','accuracy'])
target = df[['shot_name']]

# print & check inputs and target

In [7]:
inputs

     fv.st.hp  fv.bl.hp  fv.im.hp  ...  sv.ft.ff.ka  sv.ft.bf.ka  sv.ft.hip.a
0           1         1         1  ...   125.831756   180.733882   142.480118
1           1         1         1  ...   126.098672   171.403952   182.141860
2           1         1         1  ...   110.260867   183.340198   145.953509
3           1         1         1  ...   121.166901   180.895841   140.333797
4           1         1         1  ...   121.166901   180.895841   140.333797
..        ...       ...       ...  ...          ...          ...          ...
120         1         1         1  ...   121.166901   180.895841   140.333797
121         1         1         1  ...   121.166901   180.895841   140.333797
122         1         1         1  ...   125.424838   169.200380   169.404013
123         1         1         1  ...   116.615305   185.945482   141.474844
124         1         1         1  ...   125.424838   169.200380   169.404013

[125 rows x 32 columns]

In [8]:
target

     shot_name
0            1
1            1
2            1
3            1
4            1
..         ...
120          1
121          1
122          1
123          1
124          1

[125 rows x 1 columns]

In [9]:
# split the dataset into train and test subsets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,train_size=0.3)

In [10]:
# import the model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
# training the model
model.fit(X_train, y_train)

In [12]:
# predicting the outputs
model.predict(X_test)

array([1, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 2, 1, 2, 2, 2, 2, 1, 1, 2, 1, 1, 2, 2, 2, 1, 1,
       2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2,
       1, 1, 2, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1])

In [14]:
# accuracy of the model
model.score(X_test,y_test)

1.0