<a href="https://colab.research.google.com/github/Sithija97/Python-Projects/blob/main/sithija_b_c_m2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving shots mini.csv to shots mini.csv

In [ ]:
# reading the csv file
df = pd.read_csv("shots mini.csv",index_col=False)
df.head()
df.shape

(26, 34)

In [ ]:
# average numbers for all columns
df.groupby('accuracy').mean()

,fv.st.hp,fv.bl.hp,fv.im.hp,fv.ft.hp,sv.st.hp,sv.st.ba,sv.st.tha,sv.st.bha,sv.st.ff.ka,sv.st.bf.ka,...,sv.im.bf.ka,sv.im.hip.a,sv.ft.hp,sv.ft.ba,sv.ft.tha,sv.ft.bha,sv.ft.ff.ka,sv.ft.bf.ka,sv.ft.hip.a,shot_name
accuracy,,,,,,,,,,,,,,,,,,,,,
0,1.0,1.0,1.0,1.0,1.0,10.901006,174.313028,138.650512,169.634353,187.683495,...,189.627946,176.620550,1.0,78.538757,138.520435,90.025040,118.036492,182.722993,142.768013,1.0
1,1.0,1.0,1.0,1.0,1.0,16.676568,172.770148,166.812709,158.938163,176.814363,...,173.879656,193.193505,1.0,68.806855,215.740424,108.631625,121.217278,164.791230,171.413887,1.0

In [ ]:
# determining inputs and target
inputs = df.drop(columns = ['shot_name','accuracy'])
target = df[['accuracy']]

In [ ]:
inputs

,fv.st.hp,fv.bl.hp,fv.im.hp,fv.ft.hp,sv.st.hp,sv.st.ba,sv.st.tha,sv.st.bha,sv.st.ff.ka,sv.st.bf.ka,...,sv.im.ff.ka,sv.im.bf.ka,sv.im.hip.a,sv.ft.hp,sv.ft.ba,sv.ft.tha,sv.ft.bha,sv.ft.ff.ka,sv.ft.bf.ka,sv.ft.hip.a
0,1,1,1,1,1,2.185985,173.968362,153.166459,172.705479,183.250705,...,126.614404,190.102756,177.631886,1,127.671560,80.971413,88.753795,125.831756,180.733882,142.480118
1,1,1,1,1,1,21.400815,175.304761,170.039321,160.412914,167.867330,...,127.155029,176.513665,198.354920,1,58.229198,135.580613,135.463040,126.098672,171.403952,182.141860
2,1,1,1,1,1,5.592491,177.710824,155.313278,167.575231,189.787330,...,105.819776,195.040217,175.150143,1,51.653084,128.208832,99.648845,110.260867,183.340198,145.953509
3,1,1,1,1,1,17.838392,171.363172,117.955891,167.978977,188.811193,...,121.791217,185.844570,175.732986,1,47.747326,126.435438,90.022007,121.166901,180.895841,140.333797
4,1,1,1,1,1,17.838392,171.363172,117.955891,167.978977,188.811193,...,121.791217,185.844570,175.732986,1,47.747326,126.435438,90.022007,121.166901,180.895841,140.333797
5,1,1,1,1,1,14.744651,168.925900,165.567929,166.666237,178.112720,...,123.566053,171.696671,194.499865,1,63.053485,143.349334,128.521449,125.424838,169.200380,169.404013
6,1,1,1,1,1,9.780614,173.636645,152.829964,169.160517,187.227390,...,123.979475,188.290330,183.300467,1,125.935925,282.641522,86.222917,116.615305,185.945482,141.474844
7,1,1,1,1,1,18.578238,177.403716,163.268567,161.894694,176.586105,...,123.566053,171.696671,194.499865,1,63.053485,143.349334,128.521449,125.424838,169.200380,169.404013
8,1,1,1,1,1,12.229714,177.835992,134.681589,172.406937,188.213163,...,117.476302,192.645232,172.174834,1,70.477323,85.979968,85.980670,113.177221,184.476714,146.032017
9,1,1,1,1,1,15.494318,171.939165,167.203286,155.923286,178.783597,...,133.983899,174.062646,190.999971,1,74.079205,272.225922,91.578859,117.518150,160.945974,169.736830
10,1,1,1,1,1,15.494318,171.939165,167.203286,155.923286,178.783597,...,133.983899,174.062646,190.999971,1,74.079205,272.225922,91.578859,117.518150,160.945974,169.736830
11,1,1,1,1,1,15.594318,171.939165,167.203286,155.923286,178.783597,...,133.983899,175.062646,191.999971,1,75.079205,272.225922,91.678859,118.518150,160.945974,169.736830
12,1,1,1,1,1,15.494318,171.939165,167.203286,155.923286,178.783597,...,133.983899,174.062646,190.999971,1,74.079205,272.225922,91.578859,117.518150,160.945974,169.736830
13,1,1,1,1,1,2.175985,173.968362,153.166459,172.705479,183.250705,...,126.614404,190.102756,177.631886,1,127.671560,80.971413,88.753795,125.831756,180.733882,142.480118
14,1,1,1,1,1,21.500815,175.304761,170.039321,160.412914,167.867330,...,127.155029,176.513665,198.354920,1,58.229198,135.580613,135.463040,126.098672,171.403952,182.141860
15,1,1,1,1,1,5.582491,177.710824,155.313278,167.575231,189.787330,...,105.819776,195.040217,175.150143,1,51.653084,128.208832,99.648845,110.260867,183.340198,145.953509
16,1,1,1,1,1,17.738392,171.363172,117.955891,167.978977,188.811193,...,121.791217,185.844570,175.732986,1,47.747326,126.435438,90.022007,121.166901,180.895841,140.333797
17,1,1,1,1,1,17.838392,171.363172,117.955891,167.978977,188.811193,...,121.791217,185.844570,175.732986,1,47.747326,126.435438,90.022007,121.166901,180.995841,140.333797
18,1,1,1,1,1,14.644651,168.925900,165.567929,166.666237,178.112720,...,123.566053,171.696671,194.499865,1,63.053485,143.349334,128.521449,125.424838,169.200380,169.404013
19,1,1,1,1,1,9.781614,173.636645,152.829964,169.160517,187.227390,...,123.979475,188.290330,183.300467,1,125.935925,282.541522,85.222917,116.615305,185.955482,141.474844
20,1,1,1,1,1,18.478238,177.403716,163.268567,161.894694,176.586105,...,123.566053,171.696671,194.499865,1,63.053485,142.349334,128.521449,125.424838,169.200380,169.404013
21,1,1,1,1,1,12.229614,177.835992,134.681589,172.406937,188.213163,...,117.476302,192.645232,172.174834,1,70.477323,86.979968,85.980670,113.177221,184.466714,146.032017
22,1,1,1,1,1,15.494318,171.939165,167.203286,155.923286,178.783597,...,133.983899,174.062646,190.999971,1,74.079205,272.225922,92.578859,117.518150,160.945974,169.736830
23,1,1,1,1,1,15.484318,171.939165,167.203286,155.823286,178.783597,...,133.983899,174.062646,190.999971,1,74.079205,272.225922,91.578859,117.518150,160.945974,169.736830
24,1,1,1,1,1,15.584318,171.939165,167.203286,155.923286,178.783597,...,133.983899,175.062646,191.999971,1,75.079205,271.225922,92.678859,118.518150,160.945974,169.736830
25,1,1,1,1,1,15.484318,171.939165,167.203286,155.823586,178.783597,...,133.983899,174.062646,190.999971,1,74.069205,272.225922,92.578859,118.518150,160.845974,169.736830

In [ ]:
# split the dataset into train and test subsets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,train_size=0.9)

In [ ]:
X_test

,fv.st.hp,fv.bl.hp,fv.im.hp,fv.ft.hp,sv.st.hp,sv.st.ba,sv.st.tha,sv.st.bha,sv.st.ff.ka,sv.st.bf.ka,...,sv.im.ff.ka,sv.im.bf.ka,sv.im.hip.a,sv.ft.hp,sv.ft.ba,sv.ft.tha,sv.ft.bha,sv.ft.ff.ka,sv.ft.bf.ka,sv.ft.hip.a
22,1,1,1,1,1,15.494318,171.939165,167.203286,155.923286,178.783597,...,133.983899,174.062646,190.999971,1,74.079205,272.225922,92.578859,117.518150,160.945974,169.736830
2,1,1,1,1,1,5.592491,177.710824,155.313278,167.575231,189.787330,...,105.819776,195.040217,175.150143,1,51.653084,128.208832,99.648845,110.260867,183.340198,145.953509
4,1,1,1,1,1,17.838392,171.363172,117.955891,167.978977,188.811193,...,121.791217,185.844570,175.732986,1,47.747326,126.435438,90.022007,121.166901,180.895841,140.333797

In [ ]:
y_test

    accuracy
22         1
2          0
4          0

**using logistic regression model**

In [ ]:
# import the model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
# training the model
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
# predicting the outputs
model.predict(X_test)

array([1, 0, 0])

In [ ]:
# accuracy of the model
model.score(X_test,y_test)

1.0

**using svm model**

In [ ]:
# import the model
from sklearn.svm import SVC
model = SVC()

In [ ]:
# training the model
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [ ]:
# predicting the outputs
model.predict(X_test)

array([1, 0, 0])

In [ ]:
# accuracy of the model
model.score(X_test,y_test)

1.0

In [ ]:
# seperate accurate shot set
accurate_shot_set = df[df.accuracy==1]
accurate_shot_set.shape
accurate_shot_set.mean()

fv.st.hp         1.000000
fv.bl.hp         1.000000
fv.im.hp         1.000000
fv.ft.hp         1.000000
sv.st.hp         1.000000
sv.st.ba        16.676568
sv.st.tha      172.770148
sv.st.bha      166.812709
sv.st.ff.ka    158.938163
sv.st.bf.ka    176.814363
sv.st.hip.a    190.296456
sv.bl.hp         1.000000
sv.bl.ba        19.994744
sv.bl.tha      102.564812
sv.bl.bha       94.017560
sv.bl.ff.ka    165.749330
sv.bl.bf.ka    185.416625
sv.bl.hip.a    198.620656
sv.im.hp         1.000000
sv.im.ba        37.312774
sv.im.tha      114.151428
sv.im.bha       73.495663
sv.im.ff.ka    130.031819
sv.im.bf.ka    173.879656
sv.im.hip.a    193.193505
sv.ft.hp         1.000000
sv.ft.ba        68.806855
sv.ft.tha      215.740424
sv.ft.bha      108.631625
sv.ft.ff.ka    121.217278
sv.ft.bf.ka    164.791230
sv.ft.hip.a    171.413887
shot_name        1.000000
accuracy         1.000000
dtype: float64

In [ ]:
# wrong shot set
wrong_shot_set = df[df.accuracy==0]
wrong_shot_set

,fv.st.hp,fv.bl.hp,fv.im.hp,fv.ft.hp,sv.st.hp,sv.st.ba,sv.st.tha,sv.st.bha,sv.st.ff.ka,sv.st.bf.ka,...,sv.im.hip.a,sv.ft.hp,sv.ft.ba,sv.ft.tha,sv.ft.bha,sv.ft.ff.ka,sv.ft.bf.ka,sv.ft.hip.a,shot_name,accuracy
0,1,1,1,1,1,2.185985,173.968362,153.166459,172.705479,183.250705,...,177.631886,1,127.671560,80.971413,88.753795,125.831756,180.733882,142.480118,1,0
2,1,1,1,1,1,5.592491,177.710824,155.313278,167.575231,189.787330,...,175.150143,1,51.653084,128.208832,99.648845,110.260867,183.340198,145.953509,1,0
3,1,1,1,1,1,17.838392,171.363172,117.955891,167.978977,188.811193,...,175.732986,1,47.747326,126.435438,90.022007,121.166901,180.895841,140.333797,1,0
4,1,1,1,1,1,17.838392,171.363172,117.955891,167.978977,188.811193,...,175.732986,1,47.747326,126.435438,90.022007,121.166901,180.895841,140.333797,1,0
6,1,1,1,1,1,9.780614,173.636645,152.829964,169.160517,187.227390,...,183.300467,1,125.935925,282.641522,86.222917,116.615305,185.945482,141.474844,1,0
8,1,1,1,1,1,12.229714,177.835992,134.681589,172.406937,188.213163,...,172.174834,1,70.477323,85.979968,85.980670,113.177221,184.476714,146.032017,1,0
13,1,1,1,1,1,2.175985,173.968362,153.166459,172.705479,183.250705,...,177.631886,1,127.671560,80.971413,88.753795,125.831756,180.733882,142.480118,1,0
15,1,1,1,1,1,5.582491,177.710824,155.313278,167.575231,189.787330,...,175.150143,1,51.653084,128.208832,99.648845,110.260867,183.340198,145.953509,1,0
16,1,1,1,1,1,17.738392,171.363172,117.955891,167.978977,188.811193,...,175.732986,1,47.747326,126.435438,90.022007,121.166901,180.895841,140.333797,1,0
17,1,1,1,1,1,17.838392,171.363172,117.955891,167.978977,188.811193,...,175.732986,1,47.747326,126.435438,90.022007,121.166901,180.995841,140.333797,1,0
19,1,1,1,1,1,9.781614,173.636645,152.829964,169.160517,187.227390,...,183.300467,1,125.935925,282.541522,85.222917,116.615305,185.955482,141.474844,1,0
21,1,1,1,1,1,12.229614,177.835992,134.681589,172.406937,188.213163,...,172.174834,1,70.477323,86.979968,85.980670,113.177221,184.466714,146.032017,1,0

In [ ]:
type(wrong_shot_set)
wrong_shot_set.loc[0]

fv.st.hp         1.000000
fv.bl.hp         1.000000
fv.im.hp         1.000000
fv.ft.hp         1.000000
sv.st.hp         1.000000
sv.st.ba         2.185985
sv.st.tha      173.968362
sv.st.bha      153.166459
sv.st.ff.ka    172.705479
sv.st.bf.ka    183.250705
sv.st.hip.a    170.140011
sv.bl.hp         1.000000
sv.bl.ba        36.692874
sv.bl.tha      133.164189
sv.bl.bha       86.591245
sv.bl.ff.ka    173.132321
sv.bl.bf.ka    183.782920
sv.bl.hip.a    172.257848
sv.im.hp         1.000000
sv.im.ba        56.669499
sv.im.tha      128.900521
sv.im.bha       78.162531
sv.im.ff.ka    126.614404
sv.im.bf.ka    190.102756
sv.im.hip.a    177.631886
sv.ft.hp         1.000000
sv.ft.ba       127.671560
sv.ft.tha       80.971413
sv.ft.bha       88.753795
sv.ft.ff.ka    125.831756
sv.ft.bf.ka    180.733882
sv.ft.hip.a    142.480118
shot_name        1.000000
accuracy         0.000000
Name: 0, dtype: float64

In [ ]:
right = ["Ford", "Volvo", "BMW", "Benz", "Maruti"] 
wrong = ["Ford", "Frrari", "BMW", "Benz", "Lambogini"] 

print('right', right)
print('wrong', wrong)

right ['Ford', 'Volvo', 'BMW', 'Benz', 'Maruti']
wrong ['Ford', 'Frrari', 'BMW', 'Benz', 'Lambogini']

In [ ]:
listA = accurate_shot_set.to_numpy()[1]
listB = wrong_shot_set.to_numpy()[0]

# listA = right
# listB = wrong

# print('listA', listA)
# print('listB', listB)

# index variable
idx = 0

# Result list
results = []

# With iteration
for i in listA:
   if i != listB[idx]:
      results.append(idx)
   idx = idx + 1

# Result
print("The index positions with mismatched values:\n",results)

The index positions with mismatched values:
 [5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 33]

In [ ]:
list(listA)

[1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 21.40081509,
 175.3047611,
 170.0393212,
 160.412914,
 167.8673299,
 173.5333353,
 1.0,
 17.40319647,
 112.4678315,
 99.92906338,
 164.0356835,
 182.0181142,
 194.1657343,
 1.0,
 27.97543452,
 114.4010851,
 86.40364913,
 127.1550294,
 176.5136647,
 198.3549198,
 1.0,
 58.229198,
 135.5806132,
 135.4630399,
 126.0986718,
 171.403952,
 182.1418599,
 1.0,
 1.0]

In [ ]:
# comparison inside the loop for wrong shots

listA = accurate_shot_set.to_numpy()[0]
listB = len(wrong_shot_set.to_numpy())

print(listB)
i = 0
while i < len(wrong_shot_set.to_numpy()):
  # print(list(wrong_shot_set.to_numpy()[i]))
  # Result list
  results = []
  if i != wrong_shot_set.to_numpy()[i].all():
      results.append(i)
  i=i+1

  # Result
  print("The index positions with mismatched values:\n",results)

12
The index positions with mismatched values:
 []
The index positions with mismatched values:
 [1]
The index positions with mismatched values:
 [2]
The index positions with mismatched values:
 [3]
The index positions with mismatched values:
 [4]
The index positions with mismatched values:
 [5]
The index positions with mismatched values:
 [6]
The index positions with mismatched values:
 [7]
The index positions with mismatched values:
 [8]
The index positions with mismatched values:
 [9]
The index positions with mismatched values:
 [10]
The index positions with mismatched values:
 [11]

In [ ]:
x = accurate_shot_set.to_numpy()[0]
y = wrong_shot_set.to_numpy()

def find_match(x, y):
    match = []
    for i in x:
        for j in y:
            if i[0] == j[0]:
                 match.append(j)
    return match
match = find_match(x, y)
print(match)

IndexError: ignored