<a href="https://colab.research.google.com/github/Sithija97/Python-Projects/blob/main/sithija_b_c_m2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving shots mini.csv to shots mini.csv

In [ ]:
# reading the csv file
df = pd.read_csv("shots mini.csv",index_col=False)
df.head()
df.shape

(26, 34)

In [ ]:
# average numbers for all columns
df.groupby('accuracy').mean()

          fv.st.hp  fv.bl.hp  fv.im.hp  ...  sv.ft.bf.ka  sv.ft.hip.a  shot_name
accuracy                                ...
0                1         1         1  ...   182.722993   142.768013          1
1                1         1         1  ...   164.791230   171.413887          1

[2 rows x 33 columns]

In [ ]:
# determining inputs and target
inputs = df.drop(columns = ['shot_name','accuracy'])
target = df[['accuracy']]

In [ ]:
# split the dataset into train and test subsets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,train_size=0.9)

In [ ]:
X_test

    fv.st.hp  fv.bl.hp  fv.im.hp  ...  sv.ft.ff.ka  sv.ft.bf.ka  sv.ft.hip.a
17         1         1         1  ...   121.166901   180.995841   140.333797
15         1         1         1  ...   110.260867   183.340198   145.953509
21         1         1         1  ...   113.177221   184.466714   146.032017

[3 rows x 32 columns]

In [ ]:
y_test

    accuracy
17         0
15         0
21         0

**using logistic regression model**

In [ ]:
# import the model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
# training the model
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
# predicting the outputs
model.predict(X_test)

array([0, 0, 0])

In [ ]:
# accuracy of the model
model.score(X_test,y_test)

1.0

**using svm model**

In [ ]:
# import the model
from sklearn.svm import SVC
model = SVC()

In [ ]:
# training the model
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [ ]:
# predicting the outputs
model.predict(X_test)

array([0, 0, 0])

In [ ]:
model.predict()

In [ ]:
# accuracy of the model
model.score(X_test,y_test)

1.0

In [ ]:
# seperate accutae shot set
accurate_shot_set = df[df.accuracy==1]
accurate_shot_set.shape
accurate_shot_set.head()