<a href="https://colab.research.google.com/github/Sithija97/Python-Projects/blob/main/sithija_b_c_m2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
from google.colab import files

uploaded = files.upload()

Saving shots mini.csv to shots mini.csv

In [3]:
# reading the csv file
df = pd.read_csv("shots mini.csv",index_col=False)
df.head()
df.shape

(26, 34)

In [4]:
# average numbers for all columns
df.groupby('accuracy').mean()

,fv.st.hp,fv.bl.hp,fv.im.hp,fv.ft.hp,sv.st.hp,sv.st.ba,sv.st.tha,sv.st.bha,sv.st.ff.ka,sv.st.bf.ka,...,sv.im.bf.ka,sv.im.hip.a,sv.ft.hp,sv.ft.ba,sv.ft.tha,sv.ft.bha,sv.ft.ff.ka,sv.ft.bf.ka,sv.ft.hip.a,shot_name
accuracy,,,,,,,,,,,,,,,,,,,,,
0,1.0,1.0,1.0,1.0,1.0,10.901006,174.313028,138.650512,169.634353,187.683495,...,189.627946,176.620550,1.0,78.538757,138.520435,90.025040,118.036492,182.722993,142.768013,1.0
1,1.0,1.0,1.0,1.0,1.0,16.676568,172.770148,166.812709,158.938163,176.814363,...,173.879656,193.193505,1.0,68.806855,215.740424,108.631625,121.217278,164.791230,171.413887,1.0

In [5]:
# determining inputs and target
inputs = df.drop(columns = ['shot_name','accuracy'])
target = df[['accuracy']]

In [6]:
# split the dataset into train and test subsets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,train_size=0.9)

In [7]:
X_test

,fv.st.hp,fv.bl.hp,fv.im.hp,fv.ft.hp,sv.st.hp,sv.st.ba,sv.st.tha,sv.st.bha,sv.st.ff.ka,sv.st.bf.ka,...,sv.im.ff.ka,sv.im.bf.ka,sv.im.hip.a,sv.ft.hp,sv.ft.ba,sv.ft.tha,sv.ft.bha,sv.ft.ff.ka,sv.ft.bf.ka,sv.ft.hip.a
20,1,1,1,1,1,18.478238,177.403716,163.268567,161.894694,176.586105,...,123.566053,171.696671,194.499865,1,63.053485,142.349334,128.521449,125.424838,169.200380,169.404013
0,1,1,1,1,1,2.185985,173.968362,153.166459,172.705479,183.250705,...,126.614404,190.102756,177.631886,1,127.671560,80.971413,88.753795,125.831756,180.733882,142.480118
16,1,1,1,1,1,17.738392,171.363172,117.955891,167.978977,188.811193,...,121.791217,185.844570,175.732986,1,47.747326,126.435438,90.022007,121.166901,180.895841,140.333797

In [8]:
y_test

    accuracy
20         1
0          0
16         0

In [9]:
# seperate accurate shot set
accurate_shot_set = df[df.accuracy==1]
accurate_shot_set.shape
# accurate_shot_set.head()
accurate_shot_set.mean()

fv.st.hp         1.000000
fv.bl.hp         1.000000
fv.im.hp         1.000000
fv.ft.hp         1.000000
sv.st.hp         1.000000
sv.st.ba        16.676568
sv.st.tha      172.770148
sv.st.bha      166.812709
sv.st.ff.ka    158.938163
sv.st.bf.ka    176.814363
sv.st.hip.a    190.296456
sv.bl.hp         1.000000
sv.bl.ba        19.994744
sv.bl.tha      102.564812
sv.bl.bha       94.017560
sv.bl.ff.ka    165.749330
sv.bl.bf.ka    185.416625
sv.bl.hip.a    198.620656
sv.im.hp         1.000000
sv.im.ba        37.312774
sv.im.tha      114.151428
sv.im.bha       73.495663
sv.im.ff.ka    130.031819
sv.im.bf.ka    173.879656
sv.im.hip.a    193.193505
sv.ft.hp         1.000000
sv.ft.ba        68.806855
sv.ft.tha      215.740424
sv.ft.bha      108.631625
sv.ft.ff.ka    121.217278
sv.ft.bf.ka    164.791230
sv.ft.hip.a    171.413887
shot_name        1.000000
accuracy         1.000000
dtype: float64

**using logistic regression model**

In [10]:
# import the model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [11]:
# training the model
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [12]:
# predicting the outputs
model.predict(X_test)

array([1, 0, 0])

In [13]:
# accuracy of the model
model.score(X_test,y_test)

1.0

**using svm model**

In [14]:
# import the model
from sklearn.svm import SVC
model = SVC()

In [15]:
# training the model
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [24]:
# predicting the outputs
model.predict(X_test)

array([1, 0, 0])

In [20]:
# accuracy of the model
model.score(X_test,y_test)

1.0

In [23]:
# seperate accurate shot set
accurate_shot_set = df[df.accuracy==1]
accurate_shot_set.shape
# accurate_shot_set.head()
accurate_shot_set.mean()

fv.st.hp         1.000000
fv.bl.hp         1.000000
fv.im.hp         1.000000
fv.ft.hp         1.000000
sv.st.hp         1.000000
sv.st.ba        16.676568
sv.st.tha      172.770148
sv.st.bha      166.812709
sv.st.ff.ka    158.938163
sv.st.bf.ka    176.814363
sv.st.hip.a    190.296456
sv.bl.hp         1.000000
sv.bl.ba        19.994744
sv.bl.tha      102.564812
sv.bl.bha       94.017560
sv.bl.ff.ka    165.749330
sv.bl.bf.ka    185.416625
sv.bl.hip.a    198.620656
sv.im.hp         1.000000
sv.im.ba        37.312774
sv.im.tha      114.151428
sv.im.bha       73.495663
sv.im.ff.ka    130.031819
sv.im.bf.ka    173.879656
sv.im.hip.a    193.193505
sv.ft.hp         1.000000
sv.ft.ba        68.806855
sv.ft.tha      215.740424
sv.ft.bha      108.631625
sv.ft.ff.ka    121.217278
sv.ft.bf.ka    164.791230
sv.ft.hip.a    171.413887
shot_name        1.000000
accuracy         1.000000
dtype: float64